<div class="text-center" style="min-height:85%">
  <br>
  <router-outlet></router-outlet>
</div>


<!-- <footer class="footer">
  <div class="container-fluid" style="background-color:white; width:98%;border-top:1px solid #cf8196">

    <div class="row text-center " fxLayout="row " fxLayoutAlign="space-between center ">
      <div fxFlex="20% " fxFlexOrder="1 ">
        <img src="assets/logo/mind.jpg " alt=" " srcset=" " style="width: 250px;height: 150px; ">
      </div>
      <div fxFlex="80% " fxFlexOrder="2 ">
        &copy;&nbsp;Mindtree 2018
      </div>
    </div>

  </div>
</footer> -->