
.holder {
    display: inline-flex;
}

.holder mat-card {
    margin: 10px;
    max-width: 140px;
    max-height: 200px;
}

.holder img {
    /* max-width: 150px; */
    height: 120px;
    background-size: cover;
}

.holder mat-card-content {
    display: flex;
    justify-content: center;
    
}
